<div class="layout">
  <!-- SIDEBAR -->
  <aside
    class="sidebar"
    *ngIf="router.url !== '/login' && router.url !== '/register'"
  >
    <div class="brand">
      <div class="logo">AC</div>
      <div>
        <h3>ACMAN BAR</h3>
        <p>Hệ thống quản lý</p>
      </div>
    </div>

    <ul class="menu">
      <li routerLink="/tables" routerLinkActive="active">🍸 Phòng - Bàn</li>
      <li routerLink="/overview" routerLinkActive="active">📊 Tổng quan</li>
      <li routerLink="/products" routerLinkActive="active">🍹 Sản phẩm</li>
      <li routerLink="/customers" routerLinkActive="active">👤 Khách hàng</li>
      <li routerLink="/invoices" routerLinkActive="active">🧾 Hóa đơn</li>
    </ul>

    <button class="logout" (click)="logout()">Đăng xuất</button>
  </aside>

  <!-- MAIN -->
  <div class="main">
    <!-- TOP BAR -->
    <header class="topbar">
      <div class="company">
        0104908371 - CÔNG TY CỔ PHẦN PHÁT TRIỂN CÔNG NGHỆ ACMAN
      </div>

      <div class="topbar-right">
        <span class="user">ADMIN</span>
        <span class="flag">🇻🇳</span>
        <span class="icon">🔔</span>
      </div>
    </header>

    <!-- PAGE CONTENT -->
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>
