/* ===== LAYOUT ===== */
.layout {
  display: flex;
  min-height: 100vh;
  font-family: Inter, system-ui, sans-serif;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  background: #043b7b;
  color: #fff;
  padding: 20px 16px;
  display: flex;
  flex-direction: column;
border-right: 1px solid rgba(255, 255, 255, 0.15);
}

/* BRAND */
.brand {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.18);
}

.brand-logo {
  width: 180px;
}

/* RESET */
.menu,
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  
}

/* MENU */
.menu {
  
  flex: 1;
  
}

/* ITEM ĐƠN */
.menu-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 14px;
  margin-bottom: 12px;
  border-radius: 10px;
  cursor: pointer;
}

.menu-item:hover,
.menu-item.active {
  background: #ffffff;
  color: #0d25ff;
}

/* DANH MỤC */
.menu-section {
  margin-bottom: 18px;
}

.section-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 6px 8px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.65);
}

.section-title:hover {
  color: rgba(255, 255, 255, 0.45);
}

.section-items {
  margin-top: 6px;
  padding-left: 6px;
}

.section-items li {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 14px;
  margin: 6px 0;
  border-radius: 10px;
  cursor: pointer;
}

.section-items li:hover,
.section-items li.active {
  background: #ffffff;
  color: #0d25ff;
}

/* ===== TOPBAR ===== */
.topbar {
  height: 56px;
  background: #043b7b;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 14px;
}

.flag img {
  width: 22px;
}

.user-avatar-circle {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-avatar-circle img {
  width: 20px;
}

/* ================= CONTENT ================= */
.content {
  flex: 1;
  background: #f4f7fb;
  padding: 24px;
}
/* LOGOUT */
.logout {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: #0d25ff;
  color: #fff;
  cursor: pointer;
}
/* ===== LANGUAGE DROPDOWN ===== */
.lang-dropdown {
  position: relative;
  cursor: pointer;
}

.flag-icon {
  width: 32px;
  border-radius: 2px;
  display: block;
}

/* MENU HIỆN RA */
.lang-menu {
  position: absolute;
  top: 30px;
  right: 0;
  background: #ffffff;
  color: #333;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
  white-space: nowrap;
  z-index: 1000;
}
