.layout {
  display: flex;
  min-height: 100vh;
  font-family: Inter, system-ui, sans-serif;
}

.main {
  display: flex;
  flex: 1;
  flex-direction: column;
}
/* ===== SIDEBAR ===== */
.sidebar {
  width: 240px;
  background: linear-gradient(180deg, #19269e, #19269e);
  color: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 4px 0 14px rgba(0, 0, 0, 0.25);
}

.brand {
  display: flex;
  gap: 12px;
  align-items: center;
  margin-bottom: 30px;
}

.logo {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background: #2563eb;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.brand h3 {
  margin: 0;
  font-size: 16px;
}

.brand p {
  margin: 0;
  font-size: 12px;
  color: #93c5fd;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  flex: 1;
}

.menu li {
  padding: 12px 14px;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 6px;
  color: #ffffff;
}

.menu li:hover,
.menu li.active {
  background: #0d25ff;
  color: #fff;
}

.logout {
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: #0d25ff;
  color: #fdfdfd;
  cursor: pointer;
}

.topbar {
  height: 56px;
  background: #19269e; /* xanh đậm như hình */
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.company {
  font-size: 14px;
  font-weight: 500;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.topbar-right .user {
  font-weight: 600;
}

.topbar-right .icon {
  cursor: pointer;
  font-size: 18px;
}


/* ===== CONTENT ===== */
.content {
  flex: 1;
  background: #f4f7fb; /* TÁCH MÀU */
  padding: 24px;
}
