<h2>Phòng-Bàn</h2>

<div class="box">
  <h3>Tạo nhóm bàn</h3>
  <div class="form-row">
    <input [(ngModel)]="newGroupName" placeholder="Tên nhóm" />
    <button (click)="createGroup()">Tạo nhóm</button>
  </div>
</div>

<div class="box" *ngFor="let g of groups; trackBy: trackByGroupId">
  <h4>{{ g.name }}</h4>

  <div class="form-row">
    <input [(ngModel)]="newTableNames[g.id]" placeholder="Tên bàn" />
    <button (click)="createTable(g.id)">Thêm bàn</button>
  </div>

  <ul class="table-list" *ngIf="g.tables.length">
    <li *ngFor="let t of g.tables">
      {{ t.name }}
    </li>
  </ul>
</div>